.app {
  display: flex;
  justify-content: center;
}

.app__items {
  position: relative;
  display: flex;
  justify-content: center;
}

.item__card_desktop {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  filter: brightness(20%);
  transition: opacity 0.3s linear;
}

.item__card_mobile {
  width: 100%;
  height: 50vh;
  display: block;
  object-fit: cover;
  filter: brightness(20%);
}

.item__centered_current {
  top: 45%;
  color: white;
  display: flex;
  position: absolute;
  text-align: center;
  flex-direction: column;
}

.item__centered_next {
  top: 40%;
  color: white;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.card_css {
  position: fixed;
  z-index: 1;
  top: 0;
  color: white;
  margin: 0 auto;
  margin: 20px;
  text-align: center;
}

.margin10 {
  margin: 10px !important;
  max-width: 200px;
}

/* author: "Public Domain"
image: "yoko-ono.jpg"
keyword: "Yoko Ono"
link: "https://commons.wikimedia.org/wiki/File:Lennons_by_Jack_Mitchell.jpg"
searchVolume: 301000 */
